@page "/"
@rendermode InteractiveServer
@inject ProductosService ProductosService
@inject IJSRuntime JS

<PageTitle>Productos</PageTitle>

<div class="container">
    <h1 class="pb-3">Productos</h1>

    <div class="row">
        <div class="col-6">
            <a href="/productos/nuevo">
                <button type="button" class="btn btn-success">Crear producto</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Costo</th>
                    <th>PrecioVenta</th>
                    <th>Stock</th>
                    <th>IdUsuario </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Producto producto in productos)
                {
                    <tr>
                        <td>@producto.Id</td>
                        <td>@producto.Descripcion</td>
                        <td>@producto.Costo</td>
                        <td>@producto.PrecioVenta</td>
                        <td>@producto.Stock</td>
                        <td>@producto.Usuario</td>
                        <td class="text-end">
                            <a href="/Productos/@producto.Id/editar" class="pe-1">
                                <button type="button" class="btn btn-info">Editar</button>
                            </a>
                            <button type="button"
                                    class="btn btn-danger"
                                    @onclick="() => RemoverProductoAsync(producto.Id)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<Producto> productos = [];

    protected override async Task OnInitializedAsync ()
    {
        productos = await ProductosService.ListarProductosAsync() ?? [];
    }

    private async Task RemoverProductoAsync (int id)
    {
        try
        {
            await ProductosService.EliminarProductoAsync(id);
        }
        catch (Exception)
        {
            await JS.InvokeVoidAsync("logErrorConsole", "No se pudo eliminar el producto");
            return;
        }

        Producto? productoAEliminar = productos.FirstOrDefault(p => p.Id == id);
        if (productoAEliminar is not null) productos.Remove(productoAEliminar);
    }
}
